h1 {
    font-family: Alex Brush;
    font-size: 64px;
}

h2 {
    margin-top: 300px;
    font-size: 64px;
}

body {
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
}

#map {
    width: max(35vw, 70vmin);
    height: 30vh;
    border-radius: 10px;
    border-color: gray;
}

div {
    position: center;
    width: max(45vw, 90vmin);
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-color: grey;
    border-radius: 20px;
    border-style: solid;
}

ul {
    display: inline-block;
    text-align: left;
}