body {
    background-color: lavender;
    text-align: center;
}

.image-bg {
    padding: 1%;
    background-color: rebeccapurple;
}

#map {
    aspect-ratio: 16 / 9;
}

table {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

/* ul {
    display: table;
    margin: 0 auto;
    text-align: left;
} */