h1 {
    font-family: Alex Brush;
    font-size: 16mm;
}

h2 {
    margin-top: 300px;
    font-size: 16mm;
}

body {
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    text-align: center;
    color: black;
    font-size: 6mm;
    font-family: Montserrat;
}

#map {
    width: 70mm;
    height: 70mm;
    border-radius: 4mm;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
}

div {
    position: center;
    width: 1000px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-color: grey;
    border-radius: 4mm;
    border-width: 1mm;
    border-style: solid;
}

ul {
    display: inline-block;
    text-align: left;
}